h1:hover {
  color: #cee0f0;
}

a:visited {
  text-decoration: none;
}

header {
  text-align: center;
  margin: auto;
  width: 75%;
}

article {
  width: 80%;
  margin: auto;
}

p::first-letter {
  font-size: 1.5em;
}

footer {
  border: 2px solid magenta;
  border-radius: 12px;
}